﻿@model NewsConnection.Header

@{
    ViewBag.Title = "Details";
}


<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="left_content">
        <div class="single_page">
            <h1>@Model.NHeader</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>@Model.UserName</a> <span><i class="fa fa-calendar"></i>@Model.NDate</span> <a href="#"><i class="fa fa-tags"></i>@Html.Partial("_CategoryHeader", WebApplication1.Models.Bus.CategoryBus.ChiTietCat(Model.idCategory))</a> </div>
            <div class="single_page_content">
                <img class="img-center" src="@Model.image" alt="">
                <div><strong>@Model.NDesc</strong></div>
                <p>@Html.Partial("_Content", WebApplication1.Models.Bus.ContentBus.ChiTiet(Model.id))</p>
            </div>
        </div>
    </div>
</div>