﻿@model IEnumerable<NewsConnection.Category>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category</a>
    <ul class="dropdown-menu" role="menu">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index", "Category", new {id = @item.id})">@item.NCategory</a></li>
        } 
        
        
    </ul>
</li>
