﻿@model NewsConnection.Content
<div class="form-group">

    <div class="col-md-10">
        Content:
        @Html.EditorFor(model => model.NContent, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NContent, "", new { @class = "text-danger" })
    </div>
</div>