﻿@model NewsConnection.Header

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Header</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên bài báo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHeader)
        </dd>

        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NDesc)
        </dd>

        <dt>
            Ngày tháng năm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NDate)
        </dd>

        <dt>
            Người đăng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCategory)
        </dd>

        <dt>
            Hình:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
