﻿@model PagedList.IPagedList<NewsConnection.Header>
@using PagedList;
@using PagedList.Mvc;

    <!doctype HTML>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dashboard I Admin Panel</title>

        <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="screen" />
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="~/js/jquery-1.5.2.min.js" type="text/javascript"></script>
        <script src="~/js/hideshow.js" type="text/javascript"></script>
        <script src="~/js/jquery.tablesorter.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/js/jquery.equalHeight.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".tablesorter").tablesorter();
            }
            );
            $(document).ready(function () {

                //When page loads...
                $(".tab_content").hide(); //Hide all content
                $("ul.tabs li:first").addClass("active").show(); //Activate first tab
                $(".tab_content:first").show(); //Show first tab content

                //On Click Event
                $("ul.tabs li").click(function () {

                    $("ul.tabs li").removeClass("active"); //Remove any "active" class
                    $(this).addClass("active"); //Add "active" class to selected tab
                    $(".tab_content").hide(); //Hide all tab content

                    var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                    $(activeTab).fadeIn(); //Fade in the active ID content
                    return false;
                });

            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('.column').equalHeight();
            });
        </script>
    </head>

    <body>
        <header id="header">
            <hgroup>
                <h1 class="site_title"><a href="index.html">Website Admin</a></h1>
                <h2 class="section_title">Dashboard</h2>
                <div class="btn_view_site"><a href="http://www.medialoot.com">View Site</a></div>
            </hgroup>
        </header> <!-- end of header bar -->

        <section id="secondary_bar">
            <div class="user">
                <p>John Doe (<a href="#">3 Messages</a>)</p>
                <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
            </div>
            <div class="breadcrumbs_container">
                <article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
            </div>
        </section><!-- end of secondary bar -->

        <aside id="sidebar" class="column">
            <form class="quick_search">
                <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
            </form>
            <hr />
            <h3>Content</h3>
            <ul class="toggle">
                <li class="icn_categories">@Html.ActionLink("Categories", "IndexCat")</li>
                <li class="icn_new_article">@Html.ActionLink("Articles", "Index")</li>
            </ul>

            <footer>
                <hr />
                <p><strong>Copyright &copy; 2011 Website Admin</strong></p>
                <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
            </footer>
        </aside><!-- end of sidebar -->

        <section id="main" class="column">

            <article class="module width_3_quarter">
                <div class="tab_container">
                    <div id="tab1" class="tab_content">
                        <table class="tablesorter" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>Tên:</td>
                                    <td>Desc:</td>
                                    <td>Date:</td>
                                    <td>Người đăng:</td>
                                    <td>Loại:</td>
                                    <td>Hình:</td>
                                    <td>@Html.ActionLink("New", "Create")</td>
                                    <td></td>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.NHeader</td>
                                        <td>@item.NDesc</td>
                                        <td>@item.NDate</td>
                                        <td>@item.UserName</td>
                                        <td>@item.idCategory</td>
                                        <td>@item.image</td>
                                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.id })</td>
                                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
                                    </tr>
                                }
                                
                                <!--<tr>
                                    <td><input type="checkbox"></td>
                                    <td>Ipsum Lorem Dolor Sit Amet</td>
                                    <td>Freebies</td>
                                    <td>6th April 2011</td>
                                    <td><input type="image" src="~/images/icn_edit.png" title="Edit"><input type="image" src="~/images/icn_trash.png" title="Trash"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Sit Amet Dolor Ipsum</td>
                                    <td>Tutorials</td>
                                    <td>10th April 2011</td>
                                    <td><input type="image" src="~/images/icn_edit.png" title="Edit"><input type="image" src="~/images/icn_trash.png" title="Trash"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Dolor Lorem Amet</td>
                                    <td>Articles</td>
                                    <td>16th April 2011</td>
                                    <td><input type="image" src="~/images/icn_edit.png" title="Edit"><input type="image" src="~/images/icn_trash.png" title="Trash"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Dolor Lorem Amet</td>
                                    <td>Articles</td>
                                    <td>16th April 2011</td>
                                    <td><input type="image" src="~/images/icn_edit.png" title="Edit"><input type="image" src="~/images/icn_trash.png" title="Trash"></td>
                                </tr> -->
                            </tbody>
                            
                        </table>
                    </div><!-- end of #tab1 -->
                    <div class="row text-center" position="fixed">
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </ul>
                    </div>
                </div><!-- end of .tab_container -->

            </article><!-- end of content manager article -->


        </section>

    </body>
</html>
