﻿@model IEnumerable<NewsConnection.Header>
@{
    ViewBag.Title = "Home Page";
}

<section id="sliderSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                @foreach (var item in Model.Reverse<NewsConnection.Header>())
                {
                    <div class="single_iteam">
                        <a href="@Url.Action("Details", "Header", new { id = item.id })"> <img src="@item.image" alt=""></a>
                        <div class="slider_article">
                            <h2><a href="@Url.Action("Details", "Header", new { id = item.id })">@item.NHeader</a></h2>
                            <p>@item.NDesc</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">

                <h2><span>Latest post</span></h2>
                <div class="latest_post_container">
                    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                    <ul class="latest_postnav">
                       @foreach (var item in Model.Reverse<NewsConnection.Header>())
                       {
                        <li>
                            <div class="media">
                                <a href="@Url.Action( "Details","Header",new { id = item.id })" class="media-left"> <img alt="" src="@item.image"> </a>
                                <div class="media-body"> <a href="@Url.Action("Details", "Header", new { id = item.id })" class="catg_title"> @item.NHeader</a> </div>
                            </div>
                        </li>
                       }                     
                    </ul>
                    <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
