﻿@model PagedList.IPagedList<NewsConnection.Header>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

    <h2>Index</h2>

    @foreach (var item in Model)
    {
        <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <li>
                    <figure class="bsbig_fig">
                        <a href="@Url.Action( "Details","Header", new { id = item.id })">
                            <img alt="" src="@item.image"> <span class="overlay"></span>
                        </a>
                        <figcaption>@Html.ActionLink((string)item.NHeader, "Details","Header", new { id = item.id })</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    }

    <div class="row text-center">
        <ul class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </ul>
    </div>
